body {
	text-align: justify;
	background-color: lightgray;
	font-family: sans-serif;
}

p.fecha{
    border-top: black 3px solid;
    margin-top: 2em;
    padding-top: 2em;
    text-align: center;
}

p.fecha {
    border-top: black 3px solid;
    margin-top: 2em;
    padding-top: 2em;
    text-align: center;
}

span.trabajo {
	background-color: white;
    color: red;
}

span.sitio {
    color: blue;
}

time {
    padding: 5px;
    background-color: gray;
    color: white;
    font-size: 200%;
    font-weight: bold;
    letter-spacing: 5px;
}

h1{
    display: block;
    margin: -10px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: right;
}

h2 {
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: white 5px solid;
}

strong {
    font-weight: bold;
    text-transform: capitalize;
}

q {
    border-bottom: red 1px dashed;
    font-family: serif;
    font-size: 150%;
    display: inline;
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}

